extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/customer/add") Lisää asiakas 

  h1.
    Asiakaslista
  table
    each customer, i in customerlist
      tr
        td
          a(href="www.google.com")= customer.name 
        td
          a(href="/invoice/customer/delete?id=#{customer._id}") Poista asiakas
