extends layout

block content
  h1.
    Päävalikko
  ul
    li
      a(href="/invoice/customer/list") Asiakkaat
    li
      a(href="/invoice/product/list") Tuotteet
    li
      a(href="/invoice/list") Tilaukset/laskutus
    li
      a(href="/invoice/settings") Asetukset
