extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/add") Lisää lasku

  h1.
    Laskulista
  ul 
    each invoice, i in invoicelist
      li
        a(href="www.google.com")= invoice.name
