extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/add") Lisää lasku

  h1.
    Laskulista
  table 
    each invoice, i in invoicelist
      tr
        td
          = invoice.customer.name 
          #{invoice._id}
        td
          a(href="/invoice/item/add?invoice=#{invoice._id}") Lisää laskurivi
        td
          a(href="/invoice/item/list?invoice=#{invoice._id}") Näytä laskurivit
