extends layout

block append head
  script( type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js" )
  script( type='text/javascript', src="/js/invoice-add.js" )

block content
  h1.
    Lisää Lasku

  form(method='post' action='/invoice/add')
    table
      tr
        td
          span Asiakas:
        td
          select(name="customer" id="customer")
            option Valitse
            for customer in customers
              option(value="#{customer._id}") #{customer.name}
      tr
        td
          span Yhteyshenkilö:
        td
          select(name"person" id="person")
      tr
        td
          span Maksuaika:
        td
          input(name='payment-time')
      tr
        td
          span Viivästyskorko:
        td
          input(name='penalty-interest')
      tr
        td
          span Arvonlisäverovelvollinen:
        td
          input(name='includes-vat')
      tr
        td
          span Huomautukset:
        td
          input(name='notifications')
    input(type='submit')

script

