doctype html
html
  head
    // named block allows us to append custom head entries in each page. 
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
