extends layout

block content
  h1.
    Henkilölista
  ul 
    each person, i in personlist
      li
        #{person.value.firstname} #{person.value.lastname} 
        a(href="www.google.com")= person.value.customerName
