extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/person/add?customer=#{customerId}") Lisää yhteyshenkilö

  h1.
    Henkilölista
  table 
    each person, i in personlist
      tr
        td #{person.firstname} #{person.lastname} 
        td
          a(href="/invoice/person/delete?delete=#{person._id}" class="confirm") Poista henkilö
