extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/product/add") Lisää tuote

  h1.
    Tuotelista
  table 
    each product, i in productlist
      tr
        td
          = product.name
        td
          a(href="/invoice/product/remove?id=#{product._id}" class="confirm") Poista tuote
