extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/product/add") Lisää tuote

  h1.
    Tuotelista
  ul 
    each product, i in productlist
      li
        a(href="www.google.com")= product.name
